body {
  color:#ffffff;
  background-color:#ff0000;
  font-size:18px;
  font-family: 'Playfair Display', serif;
  background-image: url(img/eerie-spaceship-interior.jpg);
  background-size: 1270px 700px;
}
